.hero {
  position: relative;

  padding: 8rem 1.5rem 6rem;
  overflow: hidden;
}

.hero em {
  font-style: normal !important;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 7px;
  text-underline-offset: 4px;
}

.hero-container {
  max-width: 900px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.hero-eyebrow {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--primary);
}

.hero h1 {
  font-size: clamp(2.6rem, 5vw, 3.8rem);
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

.hero p {
  max-width: 520px;
  font-size: 1.05rem;
  line-height: 1.7;
  color: var(--primary);
  margin-bottom: 2.5rem;
}

.hero-cta {
  display: inline-block;
  background-color: var(--accent);
  color: var(--primary);
  padding: .8rem 2.77rem;
  border-radius: 2rem;
  font-weight: 600;
  text-decoration: none;
  border: 1.5px solid var(--primary)
}

.hero-cta:hover {
  text-decoration: underline;
}

/* DETALLE VISUAL MODERNO */
.hero-accent {
  position: absolute;
  right: -120px;
  top: 50%;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: rgba(191, 167, 111, 0.12);
  transform: translateY(-50%);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    padding: 6rem 1.5rem 4rem;
  }

  .hero-accent {
    display: none;
  }
  .hero-cta{
    padding: .8rem 1rem;
  }
}
